name: Rust

on:
  push:
    branches: [ "main" ]
    paths:
      - "manager/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "manager/**"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./manager

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
